CT_ID=
CT_HOSTNAME=
CT_CORES=2
CT_MEMORY_MB=2048
CT_SWAP_MB=512
CT_DISK_GB=24
CT_BRIDGE=vmbr0
CT_STORAGE=local-lvm
LXC_IP=
LXC_NETMASK=255.255.255.0
LXC_GATEWAY=
PIHOLE_DNS_IP=
UBUNTU_TEMPLATE=local:vztmpl/ubuntu-24.04-standard_amd64.tar.zst
